<!DOCTYPE html>

<head>
    <title>Lunch Checker</title>
</head>


<script src="angular.min.js"></script>
<script src="app.js"></script>
<body ng-app="LunchCheck" style="text-align:center">
    <div ng-controller="LunchController">

        <br>
        <h1>Lunch Checker</h1>
        <p>Enter Lunch items, seperated by commas</p>
        <input type="text" ng-trim="true" ng-model="list"><br><br>
        <button ng-click="sayMessage()">Check If Too Much</button><br><br>

        {{message}}
    </div>
</body>

</hmtl>