<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow It Down App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <script src="styles/angular.min.js"></script>
  <script src="app.js"></script>
<body>
  <div class="container">
  <h1>Narrow It Down App</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='NarrowItDownController as toBuy'>
     
     Search Term:{{toBuy.search}}    
    <div>

      <input type="text" ng-model="toBuy.search"><br>
      <button ng-click="toBuy.menuItems(toBuy.search)">Narrow it Down for me</button>
      <br>
      <br>
      <h3>Results:</h3>
      <found-items found-items="toBuy.list" on-remove="toBuy.removeMenuItem(index)"></found-items>

    </div>
    </div>
  </div>
</div>

</body>
</html>
